@import 'colors';
@import 'media-queries';

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  background: transparent;
  height: 40px;
  display: flex;
  height: 19%;
  width: 100%;
  align-items: center;
  position: relative;
  position: fixed;

  @include mobile{
    margin-left: -55px;
    margin-top: -55px;
  }

  &__video {
    flex-wrap: wrap;
    -ms-flex-align: center;
    z-index: 1;
    width:100%;
    height: 88%;
    overflow:hidden;
    top:0;
    left:0;
    position: relative;
    position: fixed;
    margin: auto;
    @include mobile {
      height: 22.5%;
    }
    
    &video-bg{
      width: 100%;
      padding-top: 10%;
    }
  }

  &__logo {
    z-index: 3;
    cursor: pointer;
    height: 490px;
    padding-top: 30px;
    padding-bottom: -70px;
    padding-right:-100px;
    margin-right: 15%;
    margin-top: 0px;
    padding-left: 450px;
    @extend %align-center;
  }

  &__bars {
    opacity: 0;

    @include mobile {
      color: $dark;
      opacity: 1;
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 2rem;
    }
  }

  &__menu {
    z-index: 4;
    @extend %align-center;
    top: 10%;
    padding-top: 20%;
    list-style: none;
    margin-left: 10%;
    padding-bottom: 14.5%;
    width: auto;

    @include mobile {
      display: flex;
      align-content: right;
      position: absolute;
      padding-top: 220px;
      font-size: 9px;
      font-style: bold;
      margin-left: 10px;
      height: 2px;
      max-width: 375px;
    }

    &--links {
      font-family: Gill sans;
      font-size: 25px;
      font-style: bold;
      height: 70px;
      background: linear-gradient(180deg, rgba(0,138,255,1) 0%, rgba(132,0,255,1) 80%);
      border-radius: 3%;  
      color: $light;
      @extend %align-center;
      justify-content: right;
      text-decoration: none;
      margin: 0.1%;
      padding: 0 1.3rem;

      &:hover {
        color: $greenH2;
        transition: all 0.5s ease;
      }
    }
      
      #button {
        padding: 0px 25px;
        border: 10px;
        outline: none;
        text-align: center;
        border-radius: 3%;
        background: linear-gradient(180deg, rgba(0,138,255,1) 0%, rgba(132,0,255,1) 80%);
        margin-left: 1px;
        color: $light;
  
        &:hover {
          color: $greenH2;
          background: $buttonColor1;
          transition: all 2s ease;
          transform: translateY(-10px);
        }
      }
    }
  }