@import 'navbar';
@import 'header';

* {
  box-sizing: border-box;
  font-family: 'prisma-nova';
}

// Home Section CSS
.home {
  background-color: $rhino;

  &__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    block-size: 40%;
    margin-top: 25px;
    padding-top: 8%;

    @include mobile {
      padding-top: 0px;
      grid-template-columns: 1fr;
    }

    &--left {
      background-color: transparent;
      display: flex;
      flex-flow: column;
      align-items: center;
      text-align: center;
      width: 20%;
      line-height: 1.2;

      }

      @include mobile {
        line-height: 1.5;
        width: 60%;
        padding-top: -100%;
      }
    }

    &--left h1 {
      font-size: 4rem;
      color:transparent;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--left h2 {
      font-size: 4rem;
      color: $dark;
      text-align: center;

      @include mobile {
        font-size: 2rem;
      }
    }

    &--left p {
      font-size: 2rem;
      color: $dark;
      margin-top: 1rem;
      font-weight: 700;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--right {
      text-align: center;
    }

    &--img {
      height: 100%;
      width: 100%;
    }
  }
 
  .about {
    &__container {
      background-color: $rhino;
      display: flex;
      flex-flow: column;
      block-size: 40%;
      margin-top: 900px;
      padding-top: 20%;
      padding-bottom: 50%;
      align-items: center;
      text-align: center;
  
      @include tablet {
        grid-template-columns: 1fr;
        height: 100%;
      }
  
      &--left {
        z-index: 1;
        background-color: white;
        width: 40%;
        border-radius: 20px;
        line-height: 1.2;
  
        @include tablet {
          padding: 5rem 0;
        }
  
        @include mobile {
          line-height: 1.5;
        }
      }
  
      &--left h1 {
        font-size: 4rem;
        color:blueviolet;
        text-align: center;
  
        @include mobile {
          font-size: 1.5rem;
        }
      }
  
      &--left h2 {
        font-size: 4rem;
        color: $dark;
        text-align: center;
  
        @include mobile {
          font-size: 2rem;
        }
      }
  
      &--left p {
        font-size: 2rem;
        color: $dark;
        margin-top: 1rem;
        font-weight: 700;
        text-align: center;
  
        @include mobile {
          font-size: 1.5rem;
        }
      }
  
      &--right {
        text-align: center;
      }
  
      &--img {
        height: 100%;
        width: 100%;
      }
    }
  }

  // Price Section CSS
.price {
  &__container {
    display: flex;
    flex-flow: column;
    block-size: 40%;
    margin-top: -10px;
    height: 20%;
    padding-top: 20%;
    padding-bottom: 50%;
    align-items: center;
    text-align: center;

    @include tablet {
      grid-template-columns: 1fr;
      height: 100%;
    }

    &--left {
      background-color: white;
      z-index: 2;
      border-radius: 20px;
      width: 40%;
      line-height: 1.2;

      @include tablet {
        padding: 5rem 0;
      }

      @include mobile {
        line-height: 1.5;
      }
    }

    &--left h1 {
      font-size: 4rem;
      color:blueviolet;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--left h2 {
      font-size: 4rem;
      color: $dark;
      text-align: center;

      @include mobile {
        font-size: 2rem;
      }
    }

    &--left p {
      font-size: 2rem;
      color: $dark;
      margin-top: 1rem;
      font-weight: 700;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--right {
      text-align: center;
    }

    &--img {
      height: 100%;
      width: 100%;
    }
  }
}


  
.event {
  &__container {
    display: flex;
    flex-flow: column;
    block-size: 40%;
    margin-top: -10px;
    padding-top: 20%;
    padding-bottom: 50%;
    align-items: center;
    text-align: center;

    @include tablet {
      grid-template-columns: 1fr;
      height: 100%;
    }

    &--left {
      background: white;
      z-index: 2;
      border-radius: 20px;
      width: 40%;
      line-height: 1.2;

      @include tablet {
        padding: 5rem 0;
      }

      @include mobile {
        line-height: 1.5;
      }
    }

    &--left h1 {
      font-size: 4rem;
      color:blueviolet;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--left h2 {
      font-size: 4rem;
      color: $dark;
      text-align: center;

      @include mobile {
        font-size: 2rem;
      }
    }

    &--left p {
      font-size: 2rem;
      color: $dark;
      margin-top: 1rem;
      font-weight: 700;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--right {
      text-align: center;
    }

    &--img {
      height: 100%;
      width: 100%;
    }
  }
}


.contact {
  background-color: $light;
  
  &__container {
    display: flex;
    flex-flow: column;
    block-size: 10%;
    margin-top: 20%;
    padding-top: 20%;
    padding-bottom: 50%;
    padding-right: -5%;
    align-items: center;
    text-align: center;

    @include tablet {
      grid-template-columns: 1fr;
      height: 100%;
    }

    &--left {
      background: white;
      z-index:2;
      width: 40%;
      border-radius: 20px;
      line-height: 1.2;

      @include tablet {
        padding: 5rem 0;
      }

      @include mobile {
        line-height: 1.5;
      }
    }

    &--left h1 {
      font-size: 4rem;
      color:blueviolet;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--left h2 {
      font-size: 2rem;
      color: $dark;
      text-align: center;

      @include mobile {
        font-size: 2rem;
      }
    }

    &--left p {
      font-size: 2rem;
      color: $dark;
      margin-top: 1rem;
      font-weight: 700;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--right {
      text-align: center;
    }
  }
  
  .gmap_canvas{
    height: 40%;
    width: 40%;
    display: flex;
    align-content: center;
    margin-left: 33%;
  }
}
.signup {

  &__container {
    display: flex;
    flex-flow: column;
    block-size: 40%;
    margin-top: 20%;
    padding-top: 20%;
    padding-bottom: 40%;
    align-items: center;
    text-align: center;

    @include tablet {
      grid-template-columns: 1fr;
      height: 100%;
    }
    input[type=text], select, textarea {
      width: 60%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    input[type=submit] {
      display:flex;
      background: linear-gradient(180deg, rgba(0,138,255,1) 0%, rgba(132,0,255,1) 80%);;
      color: white;
      padding: 15px 20px;
      margin-bottom: -40px;
      margin-left: 46%;
      border: none;
      border-radius: 5px;
      display: flex;
      align-content: center;
    }
    
input[type=submit]:hover {
  background: #45a049;
}

    &--left {
      background: white;
      z-index: 2;
      width: 35%;
      border-radius: 20px;
      padding-bottom: 3%;
      line-height: 1.2;

      @include tablet {
        padding: 5rem 0;
      }

      @include mobile {
        line-height: 1.5;
      }
    }

    &--left h1 {
      font-size: 4rem;
      color:blueviolet;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--left h2 {
      font-size: 4rem;
      color: $dark;
      text-align: center;

      @include mobile {
        font-size: 2rem;
      }
    }

    &--left p {
      font-size: 2rem;
      color: $dark;
      margin-top: 1rem;
      font-weight: 700;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--right {
      text-align: center;
    }

    &--img {
      height: 100%;
      width: 100%;
    }
    &--btn {
      font-size: 2rem;
      background: linear-gradient(180deg, rgba(0,138,255,1) 0%, rgba(132,0,255,1) 80%);;
      padding: 30px 42px;
      border: none;
      border-radius: 4px;
      color: black;
      margin-top: 2rem;
      cursor: pointer;
      position: relative;
      transition: all 0.3s;
      outline: none;
    }

    &--btn a {
      position: relative;
      z-index: 1;
      color: $light;
      text-decoration: none;
    }

    &--btn:after {
      content: '';
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: blue;
      transition: all 0.3s;
      border-radius: 4px;
    }

    &--btn:hover:after {
      width: 100%;
    }

    &--right {
      text-align: center;
    }

    &--img {
      height: 100%;
      width: 100%;
    }
  }
}