@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
.navbar__menu--links, .navbar__menu, .navbar__logo {
  display: flex;
  align-items: center;
}

.navbar {
  background: transparent;
  height: 40px;
  display: flex;
  height: 19%;
  width: 100%;
  align-items: center;
  position: relative;
  position: fixed;
}
@media screen and (max-width: 428px) {
  .navbar {
    margin-left: -55px;
    margin-top: -55px;
  }
}
.navbar__video {
  flex-wrap: wrap;
  -ms-flex-align: center;
  z-index: 1;
  width: 100%;
  height: 88%;
  overflow: hidden;
  top: 0;
  left: 0;
  position: relative;
  position: fixed;
  margin: auto;
}
@media screen and (max-width: 428px) {
  .navbar__video {
    height: 22.5%;
  }
}
.navbar__videovideo-bg {
  width: 100%;
  padding-top: 10%;
}
.navbar__logo {
  z-index: 3;
  cursor: pointer;
  height: 490px;
  padding-top: 30px;
  padding-bottom: -70px;
  padding-right: -100px;
  margin-right: 15%;
  margin-top: 0px;
  padding-left: 450px;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 428px) {
  .navbar__bars {
    color: #222121;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar__menu {
  z-index: 4;
  top: 10%;
  padding-top: 20%;
  list-style: none;
  margin-left: 10%;
  padding-bottom: 14.5%;
  width: auto;
}
@media screen and (max-width: 428px) {
  .navbar__menu {
    display: flex;
    align-content: right;
    position: absolute;
    padding-top: 220px;
    font-size: 9px;
    font-style: bold;
    margin-left: 10px;
    height: 2px;
    max-width: 375px;
  }
}
.navbar__menu--links {
  font-family: Gill sans;
  font-size: 25px;
  font-style: bold;
  height: 70px;
  background: linear-gradient(180deg, rgb(0, 138, 255) 0%, rgb(132, 0, 255) 80%);
  border-radius: 3%;
  color: #f7f7f7;
  justify-content: right;
  text-decoration: none;
  margin: 0.1%;
  padding: 0 1.3rem;
}
.navbar__menu--links:hover {
  color: #32de84;
  transition: all 0.5s ease;
}
.navbar__menu #button {
  padding: 0px 25px;
  border: 10px;
  outline: none;
  text-align: center;
  border-radius: 3%;
  background: linear-gradient(180deg, rgb(0, 138, 255) 0%, rgb(132, 0, 255) 80%);
  margin-left: 1px;
  color: #f7f7f7;
}
.navbar__menu #button:hover {
  color: #32de84;
  background: linear-gradient(140deg, rgb(163, 6, 198) 0%, rgb(205, 0, 255) 6%, rgb(14, 0, 249) 100%);
  transition: all 2s ease;
  transform: translateY(-10px);
}

html {
  background: #4f585e;
}

div.browser {
  background: #fff url(http://www.s4c.cymru/temp/unsplash-kitsune-4.jpg) no-repeat;
  background-size: cover;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4), 0 12px 24px -6px rgba(0, 0, 0, 0.4), 0 24px 64px 12px rgba(0, 0, 0, 0.25);
  color: #323b40;
  font-family: "Source Sans Pro", helvetica;
  overflow: hidden;
  letter-spacing: -0.05em;
  margin: 5% auto;
  max-width: 1200px;
  min-width: 320px;
  min-height: 600px;
  padding-bottom: 10%;
  position: relative;
  width: 90%;
}
div.browser div.chrome {
  background: #4f585e;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
div.browser div.chrome > a {
  border-radius: 12px;
  display: block;
  float: left;
  height: 12px;
  margin: 13px 4px;
  width: 12px;
}
div.browser div.chrome > a:first-child {
  margin-left: 13px;
}
div.browser div.chrome > a.red {
  background: #fc625c;
}
div.browser div.chrome > a.amber {
  background: #fdbc40;
}
div.browser div.chrome > a.green {
  background: #34c748;
}
div.browser div.chrome div.url {
  background: #5f676d;
  border-radius: 4px;
  height: 24px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 8px;
  width: 70%;
}
div.browser h1 {
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  padding: 80px 40px 10px;
}
div.browser h2 {
  font-size: 48px;
  line-height: 1em;
  max-width: 16em;
  margin: 0;
  padding: 0 40px;
}

footer {
  height: 0;
  width: 125%;
  bottom: 10%;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  right: 0%;
  left: -1.7%;
  z-index: 3;
  position: fixed;
}
footer div.social-media-links {
  display: flex;
  justify-content: center;
  background: #323b40;
  overflow: visible;
  padding-bottom: 250px;
}
footer div.social-media-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: -25%;
}
footer div.social-media-links li {
  display: inline;
  margin: 0;
  padding: 0;
  margin: 20%;
}
footer div.social-media-links a {
  border-bottom: 0px solid rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 30px;
  padding: 20px;
  position: relative;
  transition: 0.2s ease-in;
  width: 30px;
}
footer div.social-media-links a svg {
  left: 20px;
  position: absolute;
  top: 20px;
  height: 30px;
  width: 30px;
}
footer div.social-media-links a svg.glow path, footer div.social-media-links a svg.glow circle {
  fill: rgba(0, 0, 0, 0);
}
footer div.social-media-links a svg path, footer div.social-media-links a svg circle {
  fill: #6050DC;
  transition: 0.2s ease-in;
}
footer div.social-media-links a:hover {
  transform: translateY(-4px);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.05), 0 24px 24px rgba(0, 0, 0, 0.05), 0 36px 36px rgba(0, 0, 0, 0.05), 0 64px 64px rgba(0, 0, 0, 0.15), 0 64px 128px rgba(0, 0, 0, 0.15), 0 86px 8px 6px fadeout(radial-gradient(circle, rgb(133, 134, 191) 0%, rgb(16, 52, 236) 100%), 75), 0 83px 4px 0px fadeout(radial-gradient(circle, rgb(133, 134, 191) 0%, rgb(16, 52, 236) 100%), 5);
}
footer div.social-media-links a:hover svg.glow {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  filter: blur(2px);
}
footer div.social-media-links a:hover svg.glow path, footer div.social-media-links a:hover svg.glow circle {
  fill: fadeout(radial-gradient(circle, rgb(133, 134, 191) 0%, rgb(16, 52, 236) 100%), 40);
}
footer div.social-media-links a:hover svg path, footer div.social-media-links a:hover svg circle {
  fill: #2541b2;
}

* {
  box-sizing: border-box;
  font-family: "prisma-nova";
}

.home {
  background-color: #323b40;
}
.home__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  block-size: 40%;
  margin-top: 20px;
  padding-top: 8%;
}
@media screen and (max-width: 428px) {
  .home__container {
    padding-top: 100px;
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.home__container--left {
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 55%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .home__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 428px) {
  .home__container--left {
    line-height: 1.5;
  }
}
.home__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .home__container--left h1 {
    font-size: 1.5rem;
  }
}
.home__container--left h2 {
  font-size: 4rem;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .home__container--left h2 {
    font-size: 2rem;
  }
}
.home__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .home__container--left p {
    font-size: 1.5rem;
  }
}
.home__container--right {
  text-align: center;
}
.home__container--img {
  height: 100%;
  width: 100%;
}

.about__container {
  background-color: #323b40;
  display: flex;
  flex-flow: column;
  block-size: 40%;
  margin-top: 900px;
  padding-top: 10%;
  padding-bottom: 50%;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .about__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.about__container--left {
  z-index: 1;
  background-color: white;
  width: 55%;
  border-radius: 20px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .about__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 428px) {
  .about__container--left {
    line-height: 1.5;
  }
}
.about__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .about__container--left h1 {
    font-size: 1.5rem;
  }
}
.about__container--left h2 {
  font-size: 4rem;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .about__container--left h2 {
    font-size: 2rem;
  }
}
.about__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .about__container--left p {
    font-size: 1.5rem;
  }
}
.about__container--right {
  text-align: center;
}
.about__container--img {
  height: 100%;
  width: 100%;
}

.price__container {
  display: flex;
  flex-flow: column;
  block-size: 40%;
  margin-top: -10px;
  height: 20%;
  padding-top: 10%;
  padding-bottom: 50%;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .price__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.price__container--left {
  background-color: white;
  z-index: 2;
  border-radius: 20px;
  width: 55%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .price__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 428px) {
  .price__container--left {
    line-height: 1.5;
  }
}
.price__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .price__container--left h1 {
    font-size: 1.5rem;
  }
}
.price__container--left h2 {
  font-size: 4rem;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .price__container--left h2 {
    font-size: 2rem;
  }
}
.price__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .price__container--left p {
    font-size: 1.5rem;
  }
}
.price__container--right {
  text-align: center;
}
.price__container--img {
  height: 100%;
  width: 100%;
}

.event__container {
  display: flex;
  flex-flow: column;
  block-size: 40%;
  margin-top: -10px;
  padding-top: 10%;
  padding-bottom: 50%;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .event__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.event__container--left {
  background: white;
  z-index: 2;
  border-radius: 20px;
  width: 55%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .event__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 428px) {
  .event__container--left {
    line-height: 1.5;
  }
}
.event__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .event__container--left h1 {
    font-size: 1.5rem;
  }
}
.event__container--left h2 {
  font-size: 4rem;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .event__container--left h2 {
    font-size: 2rem;
  }
}
.event__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .event__container--left p {
    font-size: 1.5rem;
  }
}
.event__container--right {
  text-align: center;
}
.event__container--img {
  height: 100%;
  width: 100%;
}

.contact {
  background-color: #f7f7f7;
}
.contact__container {
  display: flex;
  flex-flow: column;
  block-size: 10%;
  margin-top: 20%;
  padding-top: 10%;
  padding-bottom: 50%;
  padding-right: -5%;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.contact__container--left {
  background: white;
  z-index: 2;
  width: 55%;
  border-radius: 20px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .contact__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 428px) {
  .contact__container--left {
    line-height: 1.5;
  }
}
.contact__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .contact__container--left h1 {
    font-size: 1.5rem;
  }
}
.contact__container--left h2 {
  font-size: 2rem;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .contact__container--left h2 {
    font-size: 2rem;
  }
}
.contact__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .contact__container--left p {
    font-size: 1.5rem;
  }
}
.contact__container--right {
  text-align: center;
}
.contact__container--img {
  height: 100%;
  width: 100%;
}

.signup__container {
  display: flex;
  flex-flow: column;
  block-size: 40%;
  margin-top: 20%;
  padding-top: 10%;
  padding-bottom: 40%;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .signup__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.signup__container input[type=text], .signup__container select, .signup__container textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.signup__container input[type=submit] {
  display: flex;
  background: linear-gradient(180deg, rgb(0, 138, 255) 0%, rgb(132, 0, 255) 80%);
  color: white;
  padding: 15px 20px;
  margin-bottom: -40px;
  margin-left: 46%;
  border: none;
  border-radius: 5px;
  display: flex;
  align-content: center;
}
.signup__container input[type=submit]:hover {
  background: #45a049;
}
.signup__container--left {
  background: white;
  z-index: 2;
  width: 35%;
  border-radius: 20px;
  padding-bottom: 1%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .signup__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 428px) {
  .signup__container--left {
    line-height: 1.5;
  }
}
.signup__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .signup__container--left h1 {
    font-size: 1.5rem;
  }
}
.signup__container--left h2 {
  font-size: 4rem;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .signup__container--left h2 {
    font-size: 2rem;
  }
}
.signup__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .signup__container--left p {
    font-size: 1.5rem;
  }
}
.signup__container--right {
  text-align: center;
}
.signup__container--img {
  height: 100%;
  width: 100%;
}
.signup__container--btn {
  font-size: 2rem;
  background: linear-gradient(180deg, rgb(0, 138, 255) 0%, rgb(132, 0, 255) 80%);
  padding: 30px 42px;
  border: none;
  border-radius: 4px;
  color: black;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
}
.signup__container--btn a {
  position: relative;
  z-index: 1;
  color: #f7f7f7;
  text-decoration: none;
}
.signup__container--btn:after {
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: blue;
  transition: all 0.3s;
  border-radius: 4px;
}
.signup__container--btn:hover:after {
  width: 100%;
}
.signup__container--right {
  text-align: center;
}
.signup__container--img {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */