@import 'colors';
@import 'media-queries';



%align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
/*   flex-wrap: wrap;
  -ms-flex-align: center; */
/*   width:100%;
  height: 100vh; */
/*   overflow:hidden; */
/*   top:-37vh; */
/*   left: 0;
  right: 0; */
/*   position: relative; */
/*   position: fixed; */
 /*  margin: auto; */
/*   min-width: 100%;
  min-height: 100%; */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  
/*   &video-bg{
    z-index: 1;
  } */
}

.logo {
  z-index: 5;
  display: flex;
  // align-content: center;
  // justify-content: center;
  cursor: pointer;

  // padding-top: 100px;
  // padding-bottom: 115px;
  // margin-top: -10px;
  @extend %align-center;
  margin:0;
  padding:0;
  position: fixed;
  left: 35vw;
  top: -1vh;
  height: -2vh;

/*   @include mobile {
    height: 0px;
    margin-right: -100px;
   width: 0px;
   padding-left: 70px;
   padding-top: 150px;
   height: -10%;
   width: -10%;
  } */


  img{
    height: 50vh;

    @include tablet{
      height: 20vh;
    }

    @include mobile {
      height: 20vh;

   }
  }
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: transparent;
/*   height: 1vh; */
/*   margin: 0;
  padding: 0; */
/*   width: 45%; */
  top: 35vh;
  border: 2px;
  position: fixed;
  left: 40vw;
  
  @include tablet{
    margin-left: 2vw;
    margin-top: -4vh;
    left: 25vw;
  }

  @include mobile{
/*     margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 1vh;
    left: 5vw;
    font-size: 2em;
    scale: (0.9); */
/*     padding-right: 50vw; */
    margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 1vh;
    left: 50vw;
    width: 50vw;
    scale: (.9);
    
  }



  &__bars {
    opacity: 0;

/*     @include mobile {
      color: $dark;
      opacity: 1;
      top: 20%;
      right: ;
      font-size: 1em;
    } */
  }

  &__menu {
    @extend %align-center;
    display: flex;
    top: 10%;
    padding-top: 10%;
    list-style: none;
    margin: 0;
/*     padding-left: 5%; */


/*     @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      font-size: .5rem;
      font-weight: bold;
 
    } */

    &--links {
      font-family: Gill sans;
      font-size: 25px;
      font-style: bold;
      height: 8vh;
      background: linear-gradient(180deg, rgba(0,138,255,1) 0%, rgba(132,0,255,1) 80%);
      border-radius: 3%;  
      color: $light;
      @extend %align-center;
      justify-content: right;
      text-decoration: none;
      margin: 0.1%;
      padding-right: 2%;

/*       @include mobile {
        font-size: 1.5em;
        height: 15vh;
        padding-right: 2%;
      } */

      &:hover {
        color: $greenH2;
        transition: all 0.5s ease;
      }
    }
      
      #button {
        padding: 20px;
        border: 10px;
        outline: none;
        text-align: center;
        border-radius: 3%;
        background: linear-gradient(180deg, rgba(0,138,255,1) 0%, rgba(132,0,255,1) 80%);
        margin-left: 1px;
        color: $light;
  
        &:hover {
          color: $greenH2;
          background: $buttonColor1;
          transition: all 2s ease;
          transform: translateY(-5px);
        }
      }
    }
}