@import 'colors';
@import 'media-queries';



%align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  

}

.logo {
  z-index: 5;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;

  @extend %align-center;
  margin:0;
  padding:0;
  position: sticky;
  top: 8vh;


  img{
    height: 50vh;

    @include tablet{
      height: 35vh;

    }

    @include mobile {
      height: 20vh;

   }
  }
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: transparent;

  top: 45vh;
  border: 2px;
  position: fixed;
  left: 35vw;
  
  @include tablet{
    margin-left: 2vw;
    height: 1%;
    left: 20vw;
  }

  @include mobile{
    left: 2VW;
    margin-right: 1vw;
    margin-top: 1vh;
    right: 10vw;
    scale: (0.7);
    
  }



  &__bars {
    opacity: 0;

  }

  &__menu {
    @extend %align-center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    padding-top: 10%;
    list-style: none;
    margin: 0;

    ul{
      li{
        list-style: none;
        display: inline-block;
      }
    }
    &--links {
      font-family: Gill sans;
      font-size: 1.4em;
      font-style: bold;
      height: 8vh;
      background: linear-gradient(180deg, rgba(0,138,255,1) 0%, rgba(132,0,255,1) 80%);
      border-radius: 3%;  
      color: $light;
      @extend %align-center;
      justify-content: right;
      text-decoration: none;
      padding-right: 2%;



      &:hover {
        color: $greenH2;
        transition: all 0.5s ease;
      }
    }
      
      #button {
        padding: 10px;
        border: 10px;
        outline: none;
        text-align: center;
        border-radius: 3%;
        background: linear-gradient(180deg, rgba(0,138,255,1) 0%, rgba(132,0,255,1) 80%);
        margin-left: 1px;
        color: $light;
  
        &:hover {
          color: $greenH2;
          background: $buttonColor1;
          transition: all 2s ease;
          transform: translateY(5px);
        }
      }
    }
}