@import 'colors';
@import 'media-queries';



%align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  

}

.logo {
  z-index: 1;
  display: flex;
  align-content: left;
  justify-content: left;
  cursor: pointer;

  
  margin:0;
  padding:0;
  position: sticky;
  top: 3vh;


  img{
    height: 30vh;

    @include tablet{
      height: 20vh;
      

    }

    @include mobile {
      height: 15vh;


   }
  }
}
.navbar {
  display: flex;
  justify-content: left;
  align-items: left;
  z-index: 1;
  background: transparent;

  top: 30vh;
  border: 2px;
  position: fixed;
  left: 2.5vw;
  
  @include tablet{
    margin-left: 1vw;
    height: 10%;
    right: 95vw;
    bottom: 0vw;
    padding-top: 10%
  }

  @include mobile{
    left: 2VW;
    margin-right: 1vw;
    margin-top: -5vh;
    right: 85vw;
    scale: (0.7);
    
  }



  &__bars {
    opacity: 0;

  }

  &__menu {
    @extend %align-center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    padding-top: 0%;
    padding-left: 65%;
    list-style: none;
    margin: 0;

    ul{
      li{
        list-style: none;
        display: table-row;
      }
    }
    &--links {
      font-family: Gill sans;
      font-size: 1.3em;
      font-style: bold;
      height: 6vh;
      background: linear-gradient(180deg, rgba(0,138,255,1) 0%, rgba(132,0,255,1) 80%);
      border-radius: 5%;  
      color: $light;
      @extend %align-center;
      justify-content: right;
      text-decoration: none;
      padding-right: 20%;



      &:hover {
        color: $greenH2;
        transition: all 0.5s ease;
      }
    }
      
      #button {
        padding: 25px;
        border: 10px;
        outline: none;
        text-align: center;
        border-radius: 3%;
        background: linear-gradient(180deg, rgba(0,138,255,1) 0%, rgba(132,0,255,1) 80%);
        margin-left: 1px;
        margin-right: 1px;
        color: $light;
  
        &:hover {
          color: $greenH2;
          background: $buttonColor1;
          transition: all 2s ease;
          transform: translateY(5px);
        }
      }
    }
}