@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
.navbar__menu--links, .navbar__menu, .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  /*   flex-wrap: wrap;
    -ms-flex-align: center; */
  /*   width:100%;
    height: 100vh; */
  /*   overflow:hidden; */
  /*   top:-37vh; */
  /*   left: 0;
    right: 0; */
  /*   position: relative; */
  /*   position: fixed; */
  /*  margin: auto; */
  /*   min-width: 100%;
    min-height: 100%; */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  /*   &video-bg{
      z-index: 1;
    } */
}

.logo {
  z-index: 5;
  display: flex;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 35vw;
  top: -1vh;
  height: -2vh;
  /*   @include mobile {
      height: 0px;
      margin-right: -100px;
     width: 0px;
     padding-left: 70px;
     padding-top: 150px;
     height: -10%;
     width: -10%;
    } */
}
.logo img {
  height: 50vh;
}
@media screen and (max-width: 768px) {
  .logo img {
    height: 20vh;
  }
}
@media screen and (max-width: 375px) {
  .logo img {
    height: 20vh;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: transparent;
  /*   height: 1vh; */
  /*   margin: 0;
    padding: 0; */
  /*   width: 45%; */
  top: 35vh;
  border: 2px;
  position: fixed;
  left: 40vw;
}
@media screen and (max-width: 768px) {
  .navbar {
    margin-left: 2vw;
    margin-top: -4vh;
    left: 25vw;
  }
}
@media screen and (max-width: 375px) {
  .navbar {
    /*     margin-left: 2vw;
        margin-right: 1vw;
        margin-top: 1vh;
        left: 5vw;
        font-size: 2em;
        scale: (0.9); */
    /*     padding-right: 50vw; */
    margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 1vh;
    left: 50vw;
    width: 50vw;
    scale: 0.9;
  }
}
.navbar__bars {
  opacity: 0;
  /*     @include mobile {
        color: $dark;
        opacity: 1;
        top: 20%;
        right: ;
        font-size: 1em;
      } */
}
.navbar__menu {
  display: flex;
  top: 10%;
  padding-top: 10%;
  list-style: none;
  margin: 0;
  /*     padding-left: 5%; */
  /*     @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        font-size: .5rem;
        font-weight: bold;

      } */
}
.navbar__menu--links {
  font-family: Gill sans;
  font-size: 25px;
  font-style: bold;
  height: 8vh;
  background: linear-gradient(180deg, rgb(0, 138, 255) 0%, rgb(132, 0, 255) 80%);
  border-radius: 3%;
  color: #f7f7f7;
  justify-content: right;
  text-decoration: none;
  margin: 0.1%;
  padding-right: 2%;
  /*       @include mobile {
          font-size: 1.5em;
          height: 15vh;
          padding-right: 2%;
        } */
}
.navbar__menu--links:hover {
  color: #32de84;
  transition: all 0.5s ease;
}
.navbar__menu #button {
  padding: 20px;
  border: 10px;
  outline: none;
  text-align: center;
  border-radius: 3%;
  background: linear-gradient(180deg, rgb(0, 138, 255) 0%, rgb(132, 0, 255) 80%);
  margin-left: 1px;
  color: #f7f7f7;
}
.navbar__menu #button:hover {
  color: #32de84;
  background: linear-gradient(140deg, rgb(163, 6, 198) 0%, rgb(205, 0, 255) 6%, rgb(14, 0, 249) 100%);
  transition: all 2s ease;
  transform: translateY(-5px);
}

html {
  background: #4f585e;
}

div.browser {
  background: #fff url(http://www.s4c.cymru/temp/unsplash-kitsune-4.jpg) no-repeat;
  background-size: cover;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4), 0 12px 24px -6px rgba(0, 0, 0, 0.4), 0 24px 64px 12px rgba(0, 0, 0, 0.25);
  color: #323b40;
  font-family: "Source Sans Pro", helvetica;
  overflow: hidden;
  letter-spacing: -0.05em;
  margin: 5% auto;
  max-width: 1200px;
  min-width: 320px;
  min-height: 600px;
  padding-bottom: 10%;
  position: relative;
  width: 90%;
}
div.browser div.chrome {
  background: #4f585e;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
div.browser div.chrome > a {
  border-radius: 12px;
  display: block;
  float: left;
  height: 12px;
  margin: 13px 4px;
  width: 12px;
}
div.browser div.chrome > a:first-child {
  margin-left: 13px;
}
div.browser div.chrome > a.red {
  background: #fc625c;
}
div.browser div.chrome > a.amber {
  background: #fdbc40;
}
div.browser div.chrome > a.green {
  background: #34c748;
}
div.browser div.chrome div.url {
  background: #5f676d;
  border-radius: 4px;
  height: 24px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 8px;
  width: 70%;
}
div.browser h1 {
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  padding: 80px 40px 10px;
}
div.browser h2 {
  font-size: 48px;
  line-height: 1em;
  max-width: 16em;
  margin: 0;
  padding: 0 40px;
}

footer {
  /*   position: relative;
    width: 210%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  /*   bottom: 8%;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: auto;
    right: 0%;
    z-index: 3; 
    left: -5%;*/
  position: fixed;
  width: 100%;
  background-color: black;
  bottom: 0;
  height: 100px;
}
footer div.social-media-links {
  display: flex;
  justify-content: center;
  background: #323b40;
  overflow: visible;
  padding-bottom: 200px;
  min-width: 100%;
  min-height: 100%;
}
footer div.social-media-links .footer__copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}
footer div.social-media-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 1%;
}
@media screen and (max-width: 768px) {
  footer div.social-media-links {
    margin-left: -20%;
  }
}
@media screen and (max-width: 375px) {
  footer div.social-media-links {
    margin-left: -20%;
    padding-right: 16%;
  }
}
footer div.social-media-links li {
  display: inline;
  margin: 0;
  padding: 0;
  margin: 20%;
}
footer div.social-media-links a {
  border-bottom: 0px solid rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 30px;
  padding: 20px;
  position: relative;
  transition: 0.2s ease-in;
  width: 30px;
}
footer div.social-media-links a svg {
  left: 20px;
  position: absolute;
  top: 20px;
  height: 30px;
  width: 30px;
}
footer div.social-media-links a svg.glow path, footer div.social-media-links a svg.glow circle {
  fill: rgba(0, 0, 0, 0);
}
footer div.social-media-links a svg path, footer div.social-media-links a svg circle {
  fill: #6050DC;
  transition: 0.2s ease-in;
}
footer div.social-media-links a:hover {
  transform: translateY(-4px);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.05), 0 24px 24px rgba(0, 0, 0, 0.05), 0 36px 36px rgba(0, 0, 0, 0.05), 0 64px 64px rgba(0, 0, 0, 0.15), 0 64px 128px rgba(0, 0, 0, 0.15), 0 86px 8px 6px fadeout(radial-gradient(circle, rgb(133, 134, 191) 0%, rgb(16, 52, 236) 100%), 75), 0 83px 4px 0px fadeout(radial-gradient(circle, rgb(133, 134, 191) 0%, rgb(16, 52, 236) 100%), 5);
}
footer div.social-media-links a:hover svg.glow {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  filter: blur(2px);
}
footer div.social-media-links a:hover svg.glow path, footer div.social-media-links a:hover svg.glow circle {
  fill: fadeout(radial-gradient(circle, rgb(133, 134, 191) 0%, rgb(16, 52, 236) 100%), 40);
}
footer div.social-media-links a:hover svg path, footer div.social-media-links a:hover svg circle {
  fill: #2541b2;
}

* {
  box-sizing: border-box;
  font-family: "prisma-nova";
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.home {
  background-color: #323b40;
}
.home__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  block-size: 50%;
  margin-top: 20%;
  padding-top: 24%;
  /*     @include mobile {
        padding-top: 0px;
        grid-template-columns: 1fr;
      } */
}
.home__container--left {
  background-color: transparent;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 100%;
  line-height: 1.2;
}
@media screen and (max-width: 375px) {
  .home__container {
    line-height: 1.5;
    padding-top: 250%;
    /*         width: 100%;
            padding-top: 100%; */
  }
}
.home--left h1 {
  font-size: 4rem;
  color: transparent;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .home--left h1 {
    font-size: 1.5rem;
  }
}
.home--left h2 {
  font-size: 4rem;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .home--left h2 {
    font-size: 2rem;
  }
}
.home--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .home--left p {
    font-size: 1.5rem;
  }
}
.home--right {
  text-align: center;
}
.home--img {
  height: 100%;
  width: 100%;
}
.home object {
  height: 20%;
  width: 20%;
}

.about__container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column;
  block-size: 50%;
  margin-top: auto;
  margin-right: auto;
  padding-top: 50vh;
  padding-bottom: 37%;
  /*       @include tablet {
          grid-template-columns: 1fr;
          height: 50%;

        }
        @include mobile{
          max-width: 50%;
          padding: 2em;
          line-height: 1.5;
          margin-left: 100%;
        } */
}
.about__container--left {
  z-index: 1;
  background-color: white;
  /*         width: 50%; */
  border-radius: 2%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .about__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 3em; */
    line-height: 1.5;
    margin-top: 5%;
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .about__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 80vw;
    margin-right: 80vw;
    margin-top: auto;
    width: 100%;
    font-size: smaller;
  }
}
.about__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
  /*         @include mobile {
            font-size: 1.5rem;
          } */
}
.about__container--left h2 {
  font-size: 4rem;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .about__container--left h2 {
    font-size: 2rem;
  }
}
.about__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
  /*         @include mobile {
            font-size: 1.5rem;
          } */
}
.about__container--right {
  text-align: center;
}
.about__container--img {
  height: 100%;
  width: 100%;
}
.about iframe {
  height: auto;
  width: auto;
}

.price__container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column;
  block-size: 50%;
  margin-top: auto;
  margin-right: auto;
  padding-top: 50vh;
  padding-bottom: 37%;
  /*     @include tablet {
        grid-template-columns: 1fr;
        height: 100%;
      } */
}
.price__container--left {
  background-color: white;
  z-index: 2;
  border-radius: 20px;
  width: 50%;
  line-height: 1.2;
  /*       @include tablet {
          padding: 2rem ;
        }

        @include mobile {
          line-height: 1.5;
        } */
}
@media screen and (max-width: 768px) {
  .price__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    line-height: 1.5;
    margin-top: 5%;
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .price__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 85vw;
    margin-right: 82.5vw;
    margin-top: auto;
    width: 100%;
  }
}
.price__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
  /* 
        @include mobile {
          font-size: 1.5rem;
        } */
}
.price__container--left h2 {
  font-size: 4rem;
  color: #222121;
  text-align: center;
  /*       @include mobile {
          font-size: 2rem;
        } */
}
.price__container--img {
  height: auto;
  width: auto;
}
.price__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  /*       @include mobile {
          font-size: 1.5rem;
        } */
}
.price__container--right {
  text-align: center;
}

.event__container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column;
  block-size: 50%;
  margin-top: auto;
  margin-right: auto;
  padding-top: 50vh;
  padding-bottom: 37%;
  /*     @include tablet {
        grid-template-columns: 1fr;
        height: 100%;
      } */
}
.event__container--left {
  background: white;
  z-index: 2;
  border-radius: 20px;
  /*       width: 40%; */
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .event__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    line-height: 1.5;
    margin-top: 5%;
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .event__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 85vw;
    margin-right: 82vw;
    margin-top: auto;
    width: 100%;
  }
}
.event__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .event__container--left h1 {
    font-size: 1.5rem;
  }
}
.event__container--left h2 {
  font-size: 4rem;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .event__container--left h2 {
    font-size: 2em;
  }
}
.event__container--left p {
  font-size: 2em;
  color: #222121;
  margin-top: 1em;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .event__container--left p {
    font-size: 2.5em;
  }
}
.event__container--left img {
  /*       height: 40vh;
        width: 40vh;
        display: flex;
        justify-content: center;
        align-content: center; */
  /*       height: 100vh;
        width: 100vw; */
  display: flex;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 768px) {
  .event__container--left img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    line-height: 1.5;
    margin-top: 5%;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 375px) {
  .event__container--left img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 85vw;
    margin-right: 81vw;
    margin-top: auto;
    width: 100%;
  }
}
.event__container--right {
  text-align: center;
}

.contact__container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column;
  block-size: 50%;
  margin-top: auto;
  margin-right: auto;
  padding-top: 50vh;
  padding-bottom: 37%;
}
@media screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.contact__container--left {
  background: white;
  z-index: 2;
  border-radius: 20px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .contact__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*         padding: 3em; */
    line-height: 1.5;
    margin-top: 5%;
    width: 70%;
  }
}
@media screen and (max-width: 375px) {
  .contact__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 85vw;
    margin-right: 80vw;
    margin-top: 17%;
    width: 100%;
  }
}
.contact__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .contact__container--left h1 {
    font-size: 1.5rem;
  }
}
.contact__container--left h2 {
  font-size: 1.5em;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .contact__container--left h2 {
    font-size: 2rem;
  }
}
.contact__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .contact__container--left p {
    font-size: 1.5rem;
  }
}
.contact__container--right {
  text-align: center;
}
.contact .gmap_canvas {
  height: 30vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.signup__container {
  /*     display: flex;
      flex-flow: column;
      block-size: 40%;
      margin-top: 20%;
      padding-top: 20%;
      padding-bottom: 40%;
      align-items: center;
      text-align: center; */
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column;
  block-size: 50%;
  margin-top: auto;
  margin-right: auto;
  padding-bottom: 37%;
}
.signup__container input[type=text], .signup__container select, .signup__container textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6%;
  margin-bottom: 5%;
  resize: vertical;
}
.signup__container input[type=submit] {
  display: flex;
  background: linear-gradient(180deg, rgb(0, 138, 255) 0%, rgb(132, 0, 255) 80%);
  color: white;
  padding: 15px 20px;
  margin-bottom: 2%;
  margin-left: 50%;
  border: none;
  border-radius: 5px;
  align-content: center;
}
.signup__container input[type=submit]:hover {
  background: #45a049;
}
.signup__container--left {
  background: white;
  z-index: 2;
  width: 35%;
  border-radius: 20px;
  padding-bottom: 3%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .signup__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    line-height: 1.5;
    margin-top: 27%;
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .signup__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin-left: 90vw;
    margin-right: 88vw;
    margin-top: 12vh;
    width: 100%;
    padding-top: 2vh;
  }
}
.signup__container--left h1 {
  font-size: 4rem;
  color: blueviolet;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .signup__container--left h1 {
    font-size: 1.5rem;
  }
}
.signup__container--left h2 {
  font-size: 4rem;
  color: #222121;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .signup__container--left h2 {
    font-size: 2rem;
  }
}
.signup__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .signup__container--left p {
    font-size: 1.5rem;
  }
}
.signup__container--right {
  text-align: center;
}
.signup__container--img {
  height: 100%;
  width: 100%;
}
.signup__container--btn {
  font-size: 5rem;
  background: linear-gradient(180deg, rgb(0, 138, 255) 0%, rgb(132, 0, 255) 80%);
  padding: 30px 42px;
  border: none;
  border-radius: 4px;
  color: black;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
}
.signup__container--btn a {
  position: relative;
  z-index: 1;
  color: #f7f7f7;
  text-decoration: none;
}
.signup__container--btn:after {
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: blue;
  transition: all 0.3s;
  border-radius: 4px;
}
.signup__container--btn:hover:after {
  width: 100%;
}
.signup__container--right {
  text-align: center;
}
.signup__container--img {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */